<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strategic Dashboard</title>
    <link rel="stylesheet" href="../assets/bundle/app.css">
</head>

<body x-data="{openSide: window.innerWidth >= 992, darkMode: false}" :class="{'dark': darkMode}">

    <div class="flex flex-row bg-theme-primary dark:bg-zinc-950/95">

        <div class="flex flex-col fixed w-full tablet:w-[280px] inset-0 z-50 tablet:z-auto transition-all invisible tablet:visible bg-black/60 tablet:bg-transparent" @click.self="if(window.innerWidth <= 992) openSide = false" :class="{'tablet:w-[280px] visible': openSide, 'w-0 invisible': !openSide}">

            <div class="flex flex-col fixed inset-0 w-[280px] h-full py-[15px] z-10 transition-[left] ease-in-out duration-200 shadow-mode-light dark:shadow-mode-dark bg-white dark:bg-zinc-900" :class="{'left-0': openSide, '-left-[280px]': !openSide}">

                <div class="flex justify-start items-center w-full p-[15px]">
                    <img src="../assets/img/logoipsum.svg" class="w-10/12 h-auto">
                </div>

                <nav class="flex flex-grow p-[15px] mb-auto overflow-y-auto" data-simplebar>
                    <ul class="flex flex-col w-full">
                        <li>
                            <a href="#" class="flex justify-between items-center py-[10px] relative text-[16px] font-semibold text-slate-500">
                                <span class="flex justify-between items-center gap-[15px]">
                                    <i class="fa-solid fa-gauge-high"></i>
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex justify-between items-center py-[10px] relative text-[16px] font-semibold text-slate-900 dark:text-slate-400">
                                <span class="flex justify-between items-center gap-[15px]">
                                    <i class="fa-solid fa-list-check"></i>
                                    Projects
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex justify-between items-center py-[10px] relative text-[16px] font-semibold text-slate-500">
                                <span class="flex justify-between items-center gap-[15px]">
                                    <i class="fa-solid fa-rectangle-list"></i>
                                    Kanban
                                </span>
                            </a>
                        </li>
                        <li x-data="{open: false}">
                            <a href="#" class="flex justify-between items-center py-[10px] relative text-[16px] font-semibold text-slate-500" @click.prevent="open = !open">
                                <span class="flex justify-between items-center gap-[15px]">
                                    <i class="fa-brands fa-uikit"></i>
                                    Components
                                </span>
                                <i class="fa-solid fa-angle-down text-[14px]" :class="{'fa-angle-up': open, 'fa-angle-down': !open}"></i>
                            </a>
                            <ul class="hidden flex-col" :class="{'flex': open, 'hidden': !open}">
                                <li><a href="./diagram.html" class="flex items-center py-[5px] pl-[30px] pr-[30px] text-base font-normal text-slate-500">Diagram</a></li>
                                <li><a href="./form.html" class="flex items-center py-[5px] pl-[30px] pr-[30px] text-base font-normal text-slate-500">Form</a></li>
                                <li><a href="./table.html" class="flex items-center py-[5px] pl-[30px] pr-[30px] text-base font-normal text-slate-500">Table</a></li>
                                <li><a href="./modal.html" class="flex items-center py-[5px] pl-[30px] pr-[30px] text-base font-normal text-slate-500">Modal</a></li>
                                <li><a href="./card.html" class="flex items-center py-[5px] pl-[30px] pr-[30px] text-base font-normal text-slate-500">Card</a></li>
                                <li><a href="./tab.html" class="flex items-center py-[5px] pl-[30px] pr-[30px] text-base font-normal text-slate-500">Tab</a></li>
                                <li><a href="./accordion.html" class="flex items-center py-[5px] pl-[30px] pr-[30px] text-base font-normal text-slate-500">Accordion</a></li>
                                <li><a href="./alert.html" class="flex items-center py-[5px] pl-[30px] pr-[30px] text-base font-normal text-slate-500">Alert</a></li>                        
                            </ul>
                        </li>
                        <li x-data="{open: false}">
                            <a href="#" class="flex justify-between items-center py-[10px] relative text-[16px] font-semibold text-slate-500" @click.prevent="open = !open">
                                <span class="flex justify-between items-center gap-[15px]">
                                    <i class="fa-solid fa-pager"></i>
                                    Pages
                                </span>
                                <i class="fa-solid fa-angle-down text-[14px]" :class="{'fa-angle-up': open, 'fa-angle-down': !open}"></i>
                            </a>
                            <ul class="hidden flex-col" :class="{'flex': open, 'hidden': !open}">
                                <li><a href="../pages/login.html" class="flex items-center py-[5px] pl-[30px] pr-[30px] text-base font-normal text-slate-500">Login</a></li>
                                <li><a href="../pages/register.html" class="flex items-center py-[5px] pl-[30px] pr-[30px] text-base font-normal text-slate-500">Register</a></li>
                                <li><a href="../pages/404.html" class="flex items-center py-[5px] pl-[30px] pr-[30px] text-base font-normal text-slate-500">Error 404</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <div class="flex flex-row mx-[15px] rounded-lg shadow-mode-light dark:shadow-mode-dark">
                    <div class="flex flex-col justify-start items-center w-full p-[15px]">
                        <div class="block relative w-[60px] h-[60px] rounded-full overflow-hidden">
                            <img src="../assets/img/adam-wathan.jpg">
                        </div>
                        <p class="text-[16px] font-semibold text-slate-500 mt-[5px] mb-[15px]">Adam Wathan</p>
                        <div class="flex flex-row gap-[30px]">
                            <a href="#" title="Settings" class="flex justify-center items-center text-[20px] text-slate-500">
                                <i class="fa-solid fa-gear"></i>
                            </a>
                            <a href="#" title="Logout" class="flex justify-center items-center text-[20px] text-slate-500">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="flex flex-col w-full tablet:w-content min-h-screen ml-auto px-[30px] transition-[width] ease-in-out duration-200" :class="{'w-full tablet:w-content': openSide, 'w-full': !openSide}">

            <div class="flex flex-col w-full sticky top-0 z-40 mb-[15px] bg-white dark:bg-zinc-900">

                <div class="flex justify-between items-center p-[15px] rounded-b-lg shadow-mode-light dark:shadow-mode-dark">

                    <div class="flex flex-row gap-[15px]">

                        <span class="text-[20px] cursor-pointer text-slate-500" @click="openSide = !openSide">
                            <i class="fa-solid" :class="{'fa-arrow-left': openSide, 'fa-bars': !openSide}"></i>
                        </span>

                    </div>

                    <div class="flex flex-row gap-[30px]">

                        <div class="flex gap-[15px]">

                            <a href="#" class="flex justify-between items-center relative w-[65px] py-[6px] px-[10px] cursor-pointer rounded-full border-[1px] border-zinc-200/50 dark:border-zinc-700/50 bg-zinc-100 dark:bg-zinc-800" @click.prevent="darkMode = !darkMode">
                                <i class="fa-regular fa-moon text-slate-500 text-[15px]"></i>
                                <i class="fa-regular fa-sun text-slate-500 text-[15px]"></i>
                                <span class="absolute w-[20px] h-[20px] rounded-full bg-slate-500" :class="{'left-[6px]': darkMode, 'right-[6px]': !darkMode}"></span>
                            </a>

                        </div>
                        
                        <div class="flex gap-[15px]">

                            <div x-data="{open: false}" class="relative" @click.outside="open = false">
                                <span class="absolute right-[-5px] top-[5px] w-[8px] h-[8px] rounded-full bg-red-500"></span>
                                <a href="#" class="text-[20px] text-slate-500" @click.prevent="open = !open">
                                    <i class="fa-solid fa-envelope"></i>
                                </a>
                                <div class="flex-col gap-[10px] w-[260px] absolute top-[35px] right-0 p-[15px] z-50 rounded-lg shadow-mode-light dark:shadow-mode-dark bg-white dark:bg-zinc-900 hidden" :class="{'flex': open, 'hidden': !open}">
                                    <div class="flex flex-col">
                                        <span class="font-bold text-base text-slate-500 dark:text-slate-400">Messages</span>
                                    </div>
                                    <hr class="border-zinc-100 dark:border-zinc-800">
                                    <div>...</div>
                                </div>
                            </div>

                            <div x-data="{open: false}" class="relative" @click.outside="open = false">
                                <span class="absolute right-[-2px] top-[5px] w-[8px] h-[8px] rounded-full bg-red-500"></span>
                                <a href="#" class="text-[20px] text-slate-500" @click.prevent="open = !open">
                                    <i class="fa-solid fa-bell"></i>
                                </a>
                                <div class="flex-col gap-[10px] w-[260px] absolute top-[35px] right-0 p-[15px] z-50 rounded-lg shadow-mode-light dark:shadow-mode-dark bg-white dark:bg-zinc-900 hidden" :class="{'flex': open, 'hidden': !open}">
                                    <div class="flex flex-col">
                                        <span class="font-bold text-base text-slate-500 dark:text-slate-400">Notifications</span>
                                    </div>
                                    <hr class="border-zinc-100 dark:border-zinc-800">
                                    <div>...</div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="flex flex-col flex-grow w-full px-[1px]">

                <div class="flex justify-between items-center">
                    <div>
                        <h3 class="font-semibold text-[22px] text-slate-900 dark:text-slate-400">Table</h3>
                    </div>
                </div>

                <!-- CARD -->
                <div class="flex flex-col w-full mt-[30px] rounded-lg shadow-mode-light dark:shadow-mode-dark bg-white dark:bg-zinc-900">

                    <div class="flex flex-col sm:flex-row justify-between items-center p-[15px]">

                        <div class="w-full sm:w-auto">
                            
                            <div class="input-group w-full sm:w-[280px]">
                                <input type="text" class="entry">
                                <button type="button" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>

                        </div>

                        <div class="w-full sm:w-auto mt-[15px] sm:mt-auto">
                            
                            <div class="flex items-stretch rounded-lg h-[45px] border-[1px] border-zinc-200 dark:border-zinc-700 bg-zinc-50 dark:bg-zinc-800">
                                <a href="#" class="flex flex-1 sm:flex-auto justify-center items-center gap-[5px] px-[15px] text-[14px] text-slate-600 dark:text-slate-400">                      
                                    <i class="fa-solid fa-sliders"></i>
                                    <span class="font-medium">Filter</span>
                                </a>
                                <span class="flex justify-center items-center w-[1px] h-full bg-slate-200 dark:bg-slate-700"></span>
                                <a href="#" class="flex flex-1 sm:flex-auto justify-center items-center gap-[5px] px-[15px] text-[14px] text-slate-600 dark:text-slate-400">                                      
                                    <i class="fa-solid fa-plus"></i>
                                    <span class="font-medium">Add new</span>
                                </a>
                            </div>

                        </div>

                    </div>

                    <div class="max-w-full overflow-x-auto">

                        <table class="table-auto w-full text-sm">
                            <thead>
                                <tr>
                                    <th class="text-center w-[50px]">
                                        <input type="checkbox" class="input-check-basic">
                                    </th>
                                    <th class="text-center p-[15px] w-[65px] text-gray-600 dark:text-gray-400">ID</th>
                                    <th class="text-left p-[15px] text-gray-600 dark:text-gray-400">NAME</th>
                                    <th class="text-left p-[15px] text-gray-600 dark:text-gray-400">EMAIL</th>
                                    <th class="text-left p-[15px] text-gray-600 dark:text-gray-400">STATUS</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="border-t-[1px] border-zinc-200/50 dark:border-zinc-700/25 hover:bg-neutral-50 dark:hover:bg-neutral-900">
                                    <td class="text-center px-[15px] py-[10px]">
                                        <input type="checkbox" class="input-check-basic">
                                    </td>
                                    <td class="text-center px-[15px] py-[10px] text-gray-600 dark:text-gray-400">1</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Lorem ipsum</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">ipsum@mail.com</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Active</td>
                                </tr>
                                
                                <tr class="border-t-[1px] border-zinc-200/50 dark:border-zinc-700/25 hover:bg-neutral-50 dark:hover:bg-neutral-900">
                                    <td class="text-center px-[15px] py-[10px]">
                                        <input type="checkbox" class="input-check-basic">
                                    </td>
                                    <td class="text-center px-[15px] py-[10px] text-gray-600 dark:text-gray-400">2</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Lorem ipsum</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">ipsum@mail.com</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Active</td>
                                </tr>

                                <tr class="border-t-[1px] border-zinc-200/50 dark:border-zinc-700/25 hover:bg-neutral-50 dark:hover:bg-neutral-900">
                                    <td class="text-center px-[15px] py-[10px]">
                                        <input type="checkbox" class="input-check-basic">
                                    </td>
                                    <td class="text-center px-[15px] py-[10px] text-gray-600 dark:text-gray-400">3</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Lorem ipsum</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">ipsum@mail.com</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Active</td>
                                </tr>

                                <tr class="border-t-[1px] border-zinc-200/50 dark:border-zinc-700/25 hover:bg-neutral-50 dark:hover:bg-neutral-900">
                                    <td class="text-center px-[15px] py-[10px]">
                                        <input type="checkbox" class="input-check-basic">
                                    </td>
                                    <td class="text-center px-[15px] py-[10px] text-gray-600 dark:text-gray-400">4</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Lorem ipsum</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">ipsum@mail.com</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Active</td>
                                </tr>

                                <tr class="border-t-[1px] border-zinc-200/50 dark:border-zinc-700/25 hover:bg-neutral-50 dark:hover:bg-neutral-900">
                                    <td class="text-center px-[15px] py-[10px]">
                                        <input type="checkbox" class="input-check-basic">
                                    </td>
                                    <td class="text-center px-[15px] py-[10px] text-gray-600 dark:text-gray-400">5</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Lorem ipsum</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">ipsum@mail.com</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Active</td>
                                </tr>

                                <tr class="border-t-[1px] border-zinc-200/50 dark:border-zinc-700/25 hover:bg-neutral-50 dark:hover:bg-neutral-900">
                                    <td class="text-center px-[15px] py-[10px]">
                                        <input type="checkbox" class="input-check-basic">
                                    </td>
                                    <td class="text-center px-[15px] py-[10px] text-gray-600 dark:text-gray-400">6</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Lorem ipsum</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">ipsum@mail.com</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Active</td>
                                </tr>

                                <tr class="border-t-[1px] border-zinc-200/50 dark:border-zinc-700/25 hover:bg-neutral-50 dark:hover:bg-neutral-900">
                                    <td class="text-center px-[15px] py-[10px]">
                                        <input type="checkbox" class="input-check-basic">
                                    </td>
                                    <td class="text-center px-[15px] py-[10px] text-gray-600 dark:text-gray-400">7</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Lorem ipsum</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">ipsum@mail.com</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Active</td>
                                </tr>

                                <tr class="border-t-[1px] border-zinc-200/50 dark:border-zinc-700/25 hover:bg-neutral-50 dark:hover:bg-neutral-900">
                                    <td class="text-center px-[15px] py-[10px]">
                                        <input type="checkbox" class="input-check-basic">
                                    </td>
                                    <td class="text-center px-[15px] py-[10px] text-gray-600 dark:text-gray-400">8</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Lorem ipsum</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">ipsum@mail.com</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Active</td>
                                </tr>

                                <tr class="border-t-[1px] border-zinc-200/50 dark:border-zinc-700/25 hover:bg-neutral-50 dark:hover:bg-neutral-900">
                                    <td class="text-center px-[15px] py-[10px]">
                                        <input type="checkbox" class="input-check-basic">
                                    </td>
                                    <td class="text-center px-[15px] py-[10px] text-gray-600 dark:text-gray-400">9</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Lorem ipsum</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">ipsum@mail.com</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Active</td>
                                </tr>

                                <tr class="border-t-[1px] border-zinc-200/50 dark:border-zinc-700/25 hover:bg-neutral-50 dark:hover:bg-neutral-900">
                                    <td class="text-center px-[15px] py-[10px]">
                                        <input type="checkbox" class="input-check-basic">
                                    </td>
                                    <td class="text-center px-[15px] py-[10px] text-gray-600 dark:text-gray-400">10</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Lorem ipsum</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">ipsum@mail.com</td>
                                    <td class="text-left px-[15px] py-[10px] text-gray-600 dark:text-gray-400">Active</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <div class="flex flex-col md:flex-row justify-between items-center p-[15px]">

                        <span class="mb-[10px] md:mb-[0px] text-[14px] text-slate-600 dark:text-slate-400">Page 3 to 43 of 535</span>

                        <div class="flex items-center">

                            <span class="mr-[15px] text-[12px] cursor-no-drop text-slate-300 dark:text-slate-800">
                                <i class="fa-solid fa-angle-left"></i>
                            </span>                 

                            <span class="py-[5px] px-[10px] text-[14px] rounded-md border-[1px] border-zinc-200/50 dark:border-zinc-700/50 text-slate-600 dark:text-slate-400 bg-zinc-100 dark:bg-zinc-800">1</span>
                            <a href="#" class="py-[5px] px-[10px] text-[14px] rounded-md text-slate-600 dark:text-slate-400">2</a>
                            <a href="#" class="py-[5px] px-[10px] text-[14px] rounded-md text-slate-600 dark:text-slate-400">3</a>
                            <a href="#" class="py-[5px] px-[10px] text-[14px] rounded-md text-slate-600 dark:text-slate-400">4</a>
                            <span class="py-[5px] px-[10px] text-[14px] rounded-md text-slate-300 dark:text-slate-700">...</span>
                            <a href="#" class="py-[5px] px-[10px] text-[14px] rounded-md text-slate-600 dark:text-slate-400">6</a>

                            <a href="#" class="ml-[15px] text-[12px] text-slate-600">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>

                        </div>

                    </div>

                </div>
                <!-- CARD -->

            </div>

            <div class="flex items-center w-full py-[15px] relative">
                <span class="text-[14px] text-slate-500">&copy; 2023 - Strategic Dashboard</span>
            </div>

        </div>

    </div>

    <script src="../assets/bundle/app.js"></script>
</body>

</html>